<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="'UTF-8">
        <title>MLアプリ</title>
    </head>
    <body>
    <div align="center">
        <h1>予測</h1>

        <p1>モデル</p1>
        <form method="post" enctype="multipart/form-data">
            <p><input type="file" name="image_file" accept=".png, .jpg, .jpeg" onchange="previewFile(this)" required></p>
            <p><img id="preview" width="256" height="256"/></p> 
            <p><input type="submit" value="predict"></p>
            <p>予測結果：{{result}}</p>
            <p>確率：{{pred}}</p>
            
            <p><a href="/nokoshima_clf">別の画像</a></p>
            <p><a href='/'>topに戻る</a></p>
        </form>
    </div>
    <script>
        function previewFile(img){
          var fileData = new FileReader();
          fileData.onload = (function() {
            //id属性が付与されているimgタグのsrc属性に、fileReaderで取得した値の結果を入力することで
            //プレビュー表示している
            document.getElementById('preview').src = fileData.result;
          });
          fileData.readAsDataURL(img.files[0]);
        }
        </script>
    </body>
</html>