
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="'UTF-8">
        <title>MLアプリ</title>
    </head>
    <body>
    <div align="center">
        <h1>MLアプリケーション（仮）</h1>
        <p>このアプリケーションでは、気軽に深層学習モデルを使うことができます。</p>
        <p>普段触れる機会の少ないであろう深層学習モデルでぜひ遊んでみてください！</p>

        <p1>使ってみる</p1>
        <form method="POST">
            <fieldset>
                <legend>モデル選択:</legend>
            
                <div>
                  <input type="radio" id="nokoshima" name="model_type" value="nokoshima"
                         checked>
                  <label for="nokoshima">ノコギリハギ - シマキンチャクフグ 分類</label>
                </div>
                <div>
                    <input type="radio" id="" name="model_type" value="-"
                           checked>
                    <label for="-">coming soon...</label>
                  </div>
                  <div>
                    <input type="radio" id="" name="model_type" value="--"
                           checked>
                    <label for="--">coming soon...</label>
                  </div>
            </fieldset>
            <p><input type="submit" value="start"></p>
        </form>
        <p><a href='/detail'>モデルの説明</a></p>
    </div>
    </body>
</html>