<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="'UTF-8">
        <title>MLアプリ</title>
    </head>
    <body>
    <div align="center">
        <h1>MLアプリ</h1>

        <p1>はじめる</p1>
        <form method="POST">
            <fieldset>
                <legend>モデル選択:</legend>
            
                <div>
                  <input type="radio" id="nokoshima" name="model_type" value="nokoshima"
                         checked>
                  <label for="nokoshima">ノコギリハギ - シマキンチャクフグ 分類</label>
                </div>
            </fieldset>
            <p><input type="submit" value="start"></p>
        </form>
        <p><a href='/detail'>モデルの説明</a></p>
    </div>
    </body>
</html>